@import "tailwindcss";

html,body{
  height: 100%;
}

#root{
  height: 100%;
}

#gradient-canvas {
  --gradient-color-1: #E3F2FD;  /* Light Sky Blue */
  --gradient-color-2: #BBDEFB;  /* Soft Light Blue */
  --gradient-color-3: #90CAF9;  /* Medium Light Blue */
  --gradient-color-4: #FFCDD2;  /* Very Light Pale Red */
}